[2018-04-23 04:06] Sean-Der opened #1 "Add TCP support"
Currently we only support UDP clients

If this blocks you from using pion-turn please comment, and we can escalate

[2018-04-23 04:12] Sean-Der opened #2 "Add callback to Server interface for Auth"

[2018-04-23 04:12] Sean-Der opened #3 "Finish logging design"
Since we are embedded we should probably allow people to bring their own logger (and default to zerolog to the examples?)

[2018-04-23 05:26] Sean-Der opened #4 "Configure realm via constructor, not environment variable"

[2018-04-23 05:27] #4 closed

[2018-04-23 08:54] #2 closed

[2018-04-24 06:56] Sean-Der opened #5 "Gracefully handle failed auth"

[2018-04-29 02:44] #5 closed

[2018-04-29 02:45] Sean-Der opened #6 "Check Permissions when relaying"

[2018-04-29 02:46] Sean-Der opened #7 "Put timers on Allocations, Permissions and Channels"

[2018-04-30 18:53] Sean-Der opened #8 "Dedicated Relay listener not working (Only ChannelData and SendIndication)"

[2018-05-07 04:48] Sean-Der commented on #8
Fixed by 18f4a911364e4ae40106c8a39ef4dc1b69597eb6 and 1b8a24bc849484333681f18930a287ee14aafb6d

[2018-05-07 04:48] #8 closed

[2018-05-07 08:21] Sean-Der opened #9 "Management interface"
Do we provide an HTTP endpoint so people can see the status of allocations?

[2018-05-07 08:35] Sean-Der opened #10 "Performance Improvements"
Any contributions around performance improvements are welcome! The server wasn't written with performance in mind (most attention was on RFC adherence and code quality)

[2018-05-07 08:35] Sean-Der opened #11 "Fix all linter errors, add more to travis"

[2018-05-07 19:41] Sean-Der opened #12 "Support TURN server behind NAT"
Allow user to specify external IP, use this instead of DstAddr when provided

[2018-05-08 04:45] #7 closed

[2018-05-08 05:42] #6 closed

[2018-05-08 06:00] Sean-Der commented on #12
Just tested on AWS, works great without modifications! So this might not even be an issue.

Leaving open in case someone has a specific situation that I can reproduce, and then fix.

[2018-05-08 08:04] Sean-Der opened #13 "Don't allow multiple allocation to share the same FiveTuple"
We need to add additional error handling to Allocation creation

[2018-05-08 08:13] Sean-Der opened #14 "Review RFC, Fix Compliance issues"
Someone should re-read https://tools.ietf.org/html/rfc5766 and https://tools.ietf.org/html/rfc5389 and fix deviations from spec

[2018-05-08 08:14] Sean-Der opened #15 "Write simple TURN and STUN client"
A simple TURN/STUN client would be great for testing, currently there isn't a nice portable tool to assert that both are working (most people suggest https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/)

[2018-05-08 08:15] Sean-Der commented on #11
Fixed by 7f7bd60a510f07a9c8a253f22ffc28add0c46ab2

[2018-05-08 08:15] #11 closed

[2018-05-12 12:32] winds2016 opened #16 "release version can not run in windows?"
Can not run direct version AMD64. there have not params like USERS.
Maybe config file is better?

[2018-05-13 06:25] Sean-Der commented on #16
Hi @winds2016

Thanks for using Pion! I set my environment vars in powershell by doing
[code]
We might do a config file eventually, but that would make some people happy (and other annoyed)
By doing environment variables we allow people to use anything (they can write a script that reads a file and then sets them.

I did hit a bug though when using it, are you able to launch on Windows? I am going

[2018-05-13 06:43] Sean-Der commented on #16
Hey @winds2016 so the issue is that Golang on Windows is missing, https://go-review.googlesource.com/c/net/+/76394

I will work on getting that merged in!

[2018-05-13 09:51] winds2016 commented on #16
I have same error in win7 64bit
Waiting for your update,i can not visit the URL:(

[2018-05-13 18:52] tmm1 commented on #16
@Sean-Der can you try go1.11 (specifically https://github.com/golang/go/commit/d2c7dec183f0da628abf16848e9e92987feebe32) with https://github.com/golang/net/compare/master...fancybits:fancybits to see how it works for your use-case?

[2018-05-14 05:28] Sean-Der commented on #16
@tmm1 Thanks for that!

This is awesome, got exactly what I needed. I did hit another bug (but was able to work around it) if I use `:80` instead of udp4 + `0.0.0.0:80` when listening I would have the following error

[code]
---
@winds2016 Can you try the 1.0.1 release? It works for me on Windows 2016, I turned off the firewall and set the env variables in Powershell like I showed above, and it wo

[2018-05-14 07:03] #13 closed

[2018-05-14 07:05] Sean-Der commented on #12
Other TURN servers require you to specify the external-ip of the server, instead we depend on the Dst on the packets (so being behind a NAT shouldn't be an issue)

If anyone can think of a case where this would be helpful please re-open and explain, would be happy to add an option that allows the user to specify a static Dst (at the cost of complexity on the setup)

[2018-05-14 07:05] #12 closed

[2018-05-14 07:26] winds2016 commented on #16
@Sean-Der
It run success!
But:
1、When i build it myself,it show error: Failed to SetControlMessage ipv4.FlagDst: not suported by windows;
2、When i test with turnutils_uclient,it show error 400(Bad Request: The request was malformed);
simple-turn info:Failed to handle ALLOCATE-REQUEST from <client ip:port>:MessageIntegrity mismatch be972cf1e52c24d839534e1999dd45f1a 4c79...
and so WEBRTC

[2018-05-14 16:28] Sean-Der commented on #16
Fantastic! So for those two issues

1.) You will need to build Golang from git. https://github.com/pions/turn/issues/16#issuecomment-388647865 Where the changes I needed

2.) That means bad auth username/password/realm must differ (or that method is broken) I will download that utility you mentioned. I have only tested Chromium so far.

[2018-05-14 16:33] tmm1 commented on #16
Strange, would be good to get to the bottom of this. Is it happening in the ipv6 code? Can you trigger if you use `udp4 + :80`, or `udp6 + 0.0.0.0:80`?

[2018-05-14 18:30] Sean-Der commented on #16
@tmm1

I will work on getting a simple reproduce tonight, it should be easy enough. All the inbound/outbound traffic  was ipv4, but I have no idea about the code paths. thanks!

[2018-05-15 05:17] Sean-Der commented on #16
Hey @winds2016

I checked it out, and coturnd client requires reservation-token and even-port, we currently don't support either. What client are you using? What are you testing/asserting with turnutils_uclient?

I am hesitant to add these things before TCP, those things are actively stopping people from using `pion-turn` but if they block you I can add them in the next day or two!

[2018-05-15 08:34] winds2016 commented on #16
@Sean-Der
I want to use in WEBRTC.Turnutils_uclient just is used to test TURN server only,I can use other test client.

There is same error info from simple_turn when i use it in WEBRTC,my client is firefox, and firefox say TURN server maybe brocked.
But i'm not sure whether my WEBRTC config is right,so i want to test with simple enough client.

I will check in chrome.

[2018-05-16 05:35] kc5nra opened #18 "Add support for customizing SOFTWARE attribute value"
Currently this is hard-coded and should be specifiable either through configuration or environment variables.

[2018-05-16 06:56] winds2016 commented on #16
Thank you for this project and immediate processing.There are some bugs always for any software:)

I'm sorry too.I build failed for golang latest version,and can not visit golang.org/wl.Do you know other download url for go install program windows latest version?thanks!

[2018-05-16 08:12] Sean-Der commented on #16
@winds2016

Hey! Mind trying the new release, it works with `turnutils_uclient` now (and Chrome should still work also)

Auth works, but the actual benchmarking doesn't return useful data. I am going to work with coturnd, don't fully understand what is at fault yet.

[2018-05-16 08:47] Sean-Der commented on #16
Created mailing list thread https://groups.google.com/forum/#!topic/turn-server-project-rfc5766-turn-server/ij-35rPUxRk

[2018-05-16 09:13] winds2016 commented on #16
@Sean-Der
I test:
Chrome is OK
Firefox and turnutils_uclient fails, simple-turn show: unable to handle ChannelData from <ip:port>: failed writing to socket: write udp 0.0.0.0:58461->0.0.0.0:3480: sendmsg: The requested address is not valid in its context

Client can't recv data from server

[2018-05-16 17:32] Sean-Der commented on #16
Thanks again for testing!

Are you ok with me opening tickets for FireFox + uclient separately and closing this one, I believe everything works well with Windows now? That way when I close them they are all in one place.

I think they will both be fixed fairly quickly, but when people look around they will only see this ticket (and not see conversation/commits around those topics)

thanks!

[2018-05-17 07:40] Sean-Der opened #19 "Investigate/Fix use with FireFox"
Continuing #16 it was reported that FireFox currently doesn't work, investigate and fix

[2018-05-17 07:42] Sean-Der opened #20 "Investigate/Fix use with turnutils_uclient"
I don't believe this is an issue with us, see [this](https://groups.google.com/forum/#!topic/turn-server-project-rfc5766-turn-server/ij-35rPUxRk) mailing list post

[2018-05-17 07:44] Sean-Der commented on #16
Closing since we work with Windows now, created #19 and #20 to track.

If you arrived at this issue from search engine see https://github.com/pions/turn/issues/16#issuecomment-388647865 for what you need to work on Windows

[2018-05-17 07:44] #16 closed

[2018-05-18 02:11] winds2016 commented on #16
Ok, i think so too

[2018-05-18 06:52] Sean-Der commented on #19
Hey @winds2016

Would you mind trying 1.0.3 I published a new release that fixes FireFox, I tested with 60.0

thanks for all the help!

[2018-05-18 06:52] #19 closed

[2018-05-18 07:51] iwittkau commented on #15
How would one go about trying to implement a client? Are there any ressources explaing the protocol?

[2018-05-18 14:04] winds2016 commented on #19
@Sean-Der
OK, I will test it

[2018-05-19 05:27] winds2016 commented on #19
@Sean-Der
I use two firefox client, call and talk is ok.
But when i hold the talk,and hold time is long than 20 seconds,firefox will say ICE failed, next i cancel the hold ,talk has no audio again.
Now simple turn have not show any info(1.0.3).

Maybe it is firefox's issue? chrome is ok.

[2018-05-19 05:50] Sean-Der commented on #19
Nice, glad it is working!

If you don't do the hold are the two FireFoxes able to work for more then twenty seconds (just doing hold is the only thing that breaks it) That is an odd one with the hold, will look into that.

I am going to start a contributors section, would you mind if put you down as a thank you? I really appreciate all the testing you have done.

[2018-05-19 06:08] Sean-Der commented on #15
I am so excited you are going to contribute! This is what I would do.

create `cmd/client/main.go` this will be a new STUN client, you should be able to just do `go run cmd/client/main.go`

STUN works by just sending STUN packets over UDP, we have code that packs/unpacks these packets.

You should create a new UDP listener, and then send a STUN packet to any STUN server. You should then get a STUN

[2018-05-19 08:11] kc5nra opened #21 "Create a simple turn server with API that allows you to create temporary credentials"
This can store the temporary users in the go process or use a cache like redis.  This would prevent abuse of the TURN bandwidth if user/pass leak

[2018-05-19 08:49] winds2016 commented on #19
Ok ,thank you too

[2018-05-22 07:04] iwittkau commented on #15
That looks doable. I am familiar with the general protocol for. I'll get back to you with some progress.

[2018-05-28 20:49] Sean-Der commented on #15
Implemented by #22

[2018-05-28 20:49] #15 closed

[2018-05-30 10:37] iwittkau commented on #1
I tried to use `pion-turn` with [SimpleWebRTC](https://github.com/andyet/SimpleWebRTC) clients. They weren't able to connect to each other and the server logged several:

[code]

Is that related? If so, I think for compatibility reasons `TCP` should be implemented.

[2018-05-30 18:38] Sean-Der commented on #1
Hey @iwittkau

MessageIntegrity is for authentication, what browser were you using? At one time we had a bug that broke FireFox https://github.com/pions/turn/commit/c0352cc33c523f5bbea8eae0f899f5254f458e64

I will improve the error message so it says to double check the username/credential also

[2018-05-31 12:55] iwittkau commented on #1
I was using Chrome 65 on macOS.
I now tested it again with the [WebRTC samples Trickle ICE Test](https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/) which said "Authentication failed?". Same error in pion-turn: "MessageIntegrity mismatch".

[2018-05-31 18:05] Sean-Der commented on #1
Is it possible the username/password is wrong?

I did make modifications to simple-turn with https://github.com/pions/turn/commit/04bf642eceea8e112e19b59ee165d9b9dea4ab1a but I have been using the TURN server and auth has worked fine for me so far!

[2018-06-01 07:36] iwittkau commented on #1
I was able to get it to work now: it wasn't an authentication failure. I had `pion-turn` listen on a port that was also opened for **TCP** requests in the firewall. So I disabled TCP for the `pion-turn` port in my firewall.
It seems like TURN clients try to use TCP first, if available?

Anyway, I can now report that it works flawlessly with andyet's [SimlpeWebRTC](https://github.com/andyet/SimpleW

[2018-06-01 07:48] Sean-Der commented on #1
@iwittkau Thanks again for being such a fantastic user/tester :) that is great to hear!

I will start a branch with TCP support this weekend! It shouldn't be that hard, just been distracted working on pions/webrtc which has been a lot of fun.

[2018-06-01 08:29] iwittkau commented on #21
There is a draft related to this: [A REST API For Access To TURN Services](https://tools.ietf.org/html/draft-uberti-behave-turn-rest-00).

[2018-06-01 08:34] iwittkau commented on #1
@Sean-Der nice! Hope I can test that sometime aswell :)

[2018-06-04 07:29] Sean-Der commented on #1
@iwittkau hey! sorry I didn't get to this during the weekend, was caught up doing DTLS stuff :(

Promise that this week will start on it, I am really excited to get this done. Then there shouldn't be any reason people can't use us!

[2018-06-04 07:31] Sean-Der commented on #21
Nice!

Yea I was thinking of starting an `examples` directory and implementing this (and some other examples) I think that is our best bet.

That way when people `go get` they get the really simple client/server, then if they want they can build the examples if they want. We can also do other cool ones I was thinking.

* Example redis integration
* Example REST API
* Example MySQL

[2018-10-25 00:03] kevzettler opened #24 "Is this both STUN and TURN?"
The RFC section of the README:
https://github.com/pions/turn#implemented

says that:

Does this imply this can be used as a STUN server as well?

Not saying any other mention of STUN usage in the docs.

[2018-10-25 00:07] kevzettler opened #25 "docker image pushed to docker hub?"
[code]

[code]

[2018-11-23 02:33] kundanSingh11 opened #26 "Packet unhandled"
getting this error in the log "Packet unhandled in relay src "

Can any one help me why is this coming.

its in nohup.out

[2018-11-25 22:51] rockwotj commented on #24
All TURN servers support STUN. See: https://www.html5rocks.com/en/tutorials/webrtc/infrastructure/

[2018-11-26 01:16] kevzettler commented on #24
thanks

[2018-11-26 01:16] #24 closed

[2018-12-07 22:48] superp00t opened #27 "Too many open files bug"
After running the server for a day and getting a regular influx of users, I was unable to use the TURN server and got many of these errors in the console:

[code]

[2018-12-09 20:04] backkem opened #28 "Docs: Update style"
Update the readme style to match pions/webrtc.

[2018-12-20 16:49] backkem opened #29 "Add an option to disable TURN"

[2018-12-20 19:51] backkem commented on #9
Maybe you could do a metrics middleware instead? E.g. one exposing a [Prometheus ](https://github.com/prometheus/client_golang) endpoint. That would also allow managing distributed setups.

[2018-12-21 20:40] #29 closed

[2018-12-21 21:18] backkem commented on #27
The most likely problem seems to be that the `RelaySockets` are leaking. This won't be easy to debug without the ability to reproduce. Maybe the logs could contain a clue. If not, are you able to dig into the code to assist in debugging?

One thing I did notice is that a `Refresh` requests with a 0 duration seem to cause the `lifetimeTimer` to be stopped. That could cause the associated `RelaySock

[2019-01-25 07:10] #28 closed

[2019-01-25 09:36] backkem opened #32 "Migrate STUN"
We moved the stun package from `pkg/stun` to `stun`. This change has to be reflected in this library.

[2019-01-28 10:32] oec opened #34 "build error"
`simple-turn` doesn't compile (with commit eeda63bc37cd8fcfd5bfad4c8c7b26ee935e4e1f):

[code]

I ran `go get -u golang.org/x/net/...` to make sure I have the latest version of `net/ipv4`.  The build still fails for simple-turn.

[2019-01-28 10:39] backkem commented on #34
Hi @oec, This error occurs because out are using a newer version of `pions/stun`. We're now using [go modules](https://github.com/golang/go/wiki/Modules) in order to download the correct dependencies. In order to enable modules you can set the following environment variable: `GO111MODULE=on` before building the example. This will become the default in future versions of Go.
If you don't want to us

[2019-01-28 11:39] oec commented on #34
Hi @backkem, thanks for the quick response!  Indeed, with
[code]
`simple-turn` compiles.  I do use go modules myself but did not think of enabling them here, sorry for the stir.  Maybe a hint in the Readme.md would be helpful, though.

[2019-01-28 11:39] #34 closed

[2019-02-25 09:26] iMitaka commented on #26
Yesterday when i test got the same problem in this case:

I host the TURN server on my MacBook with this configuration:
$ export USERS='user=password'
$ export REALM=192.168.0.101 <- this is my local IP address from my router (tp-link)
$ export UDP_PORT=3500

In router setting i open a port ( ex MY_REAL_IP:9090 ) and forward in to 192.168.0.101:3500 to can connect remotely to TURN server.

My appl

[2019-03-06 09:53] NarimanMov opened #35 "Failed to handle ALLOCATE-REQUEST"
Hi, Thanks for your awesome code.

I have a problem.
I've followed these commands to run the server
[code]

And I tried to check it out with [this tool](https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/)
![photo_2019-03-06_13-17-59](https://user-images.githubusercontent.com/16634828/53872172-d47c0f80-4012-11e9-9a13-561e1faf90eb.jpg)

The terminal showing me this error
[code]

[2019-03-21 13:54] backkem opened #37 "Off-the-shelf solution"
We currently provide a binary release where you can configure the port & users with environment variables. This is rather limited. We should look into supporting multiple ways of configuration and authentication. E.g.: multiple off-the-shelf version of `AuthenticateRequest`. It's not entirely clear yet how to best do this. It's probably infeasible to support any kind of configuration and authentic

[2019-04-16 07:34] songjiayang opened #39 "handleUDPPacket with a new Goroutine"
## Summary

Use a new Goroutine for UDP handle, current logic is [server/server.go#L71](https://github.com/pion/turn/blob/master/internal/server/server.go#L71) , it process the package one by one, when handle `DataPacket`  the another UDP request  will be blocked.

[2019-04-22 16:36] lawl opened #40 "Malformed packet crashes server"
### Your environment.
  - Version: 1.0.3 from https://github.com/pion/turn/releases/download/1.0.3/simple-turn-linux-amd64
  - Browser: n/a
  - Other Information

[code]

### What did you do?

I was testing if the port is opened and crashed the TURN server. Oops. Very easy to repro

Start the server, in a different shell run:

    echo a | nc -u localhost 3478

### What did you expect?

Server gra

[2019-05-05 09:40] songjiayang commented on #35
same problem

[2019-05-08 07:23] songjiayang opened #41 "Permission should not include port"
From the rfc https://tools.ietf.org/html/rfc5766#section-2.3, it should only include the IP address and lifetime.

[2019-05-13 09:00] henryZhangDev opened #42 "How to get peer's transport address"
assume that We have 4 entities:
a). TURN Server (T): listening on public IP
b). TURN Client (C): somebody behind NAT that wants to connect other peer
c). Peer (P): somebody behind NAT that wants to talk with C
d). Signaling Server(S): intermediate server which helps connection setup between C and P

The process is like follows:

1)  C goes to T and asks for IP:PORT
2). T allocates IP:PORT. It is c

[2019-05-20 08:23] sebastianjohn opened #43 "how to install this on windows"

[2019-05-22 09:04] ernado opened #44 "Migrate to stun v0.3"
Part of merging process

[2019-06-03 02:34] Sean-Der commented on #44
Done, closed with 003b283449e1a683d337bfc5d9705030064407a7

[2019-06-03 02:34] #44 closed

[2019-06-03 07:19] HanseyChan opened #46 "How to use pion in window server?"
How to use pion in window server?
I need to install GO ?

[2019-06-03 11:06] ninenite opened #47 "pls help with powershell"
how to install turn server with powershell (windows server2012)

thank a lot i think

[2019-06-14 10:00] songjiayang commented on #47
you can download the Windows binary with [link](https://github.com/pion/turn/releases/download/1.0.3/simple-turn-windows-amd64.exe)  or use command `go get github.com/pion/turn/cmd/simple-turn`

[2019-06-14 10:01] songjiayang commented on #46
You can download the binary package with [link](https://github.com/pion/turn/releases/tag/1.0.3).

[2019-06-14 10:02] songjiayang commented on #43
Same with https://github.com/pion/turn/issues/46

[2019-06-14 10:17] songjiayang commented on #40
Try again,  I test the latest version,  don't crash yet.

[2019-06-23 06:45] enobufs commented on #3
All pion modules are now using pion/logging while the logging module still allows users to integrate other loggers with it.

The PR #52 also introduces pion/logger support (finally)!

[2019-06-23 06:55] enobufs opened #56 "Support of external IP address mapping"
## Summary
When you want to host TURN server on AWS EC2 for instance, the instance can have a private IP address, but not public address directly. It allows us to have an associated public IP address (or Elastic IP, etc, there will be a NAT in betwee), but TURN server does not know about the public IP address at all. Since it is TURN server's responsibility to report the public IP address to the T

[2019-06-25 04:40] Sean-Der commented on #1
Hey @oec
Sorry for the slow response, I am going through and triaging all our issues!

pion/webrtc really took off as far as users requests and interest, and has taken up most of my time. Since it has production users (and most interest) it has gotten most of my attention.

I do think we will get to this by the end of the summer though! We use `pion/turn` to test `pion/webrtc` and we have had a fe

[2019-06-25 04:40] Sean-Der commented on #3
@enobufs nice work, just going through and triaging stuff great to see this :D

[2019-06-25 04:42] Sean-Der commented on #9
Closing this for now.

The idea of `pion/turn` is to provide TURN as an API. So I personally don't want to ship anything pre-built at this time.

However! If people want more APIs/information would love to hear :)

[2019-06-25 04:42] #9 closed

[2019-06-25 04:43] Sean-Der commented on #10
Hey @henryZhangDev

I don't have performance information currently. But I think this would be a great issue for a new Pion dev! I haven't done much performance work, but I really would like to have a dev that find it interesting :)

[2019-06-25 04:43] Sean-Der commented on #14
This ticket is too vague to be actionable, closing.

[2019-06-25 04:43] #14 closed

[2019-06-25 05:01] Sean-Der commented on #18
This is a great issue for a first time contributor!

You just need to modify `StartArguments` to include an optional value. This can then be passed via `NewSoftware`

This could be great for debugging/analysis if people are using multiple TURN servers.

[2019-06-25 05:02] Sean-Der commented on #21
Since this issue is so ambiguous/no clear way to close I am going to resolve for now.

I would love to have more examples though! I just don't plan on acting on this, and don't have plans for the near future.

[2019-06-25 05:02] #21 closed

[2019-06-28 10:10] rostopira commented on #26
I've got same error on Alibaba ECS. How could I investigate cause of issue? It works fine as STUN

[2019-06-29 07:43] enobufs opened #61 "Fix missing default channel binding lifetime"
Looks like I accidentally dropped it when resolving the bad merge conflict. (I dropped the old turn.go API and brought the low-level API which was hidden inside the "internal" folder which had a conflict with @songjiayang's changes.)

[2019-06-29 08:37] #61 closed

[2019-07-03 00:22] enobufs opened #65 "TURN server should behave 'address-restricted-filtering'"
### Your environment.
  - Version: v1.2.0
  - Browser: n/a

### What did you do?
I wrote a test: https://github.com/pion/ice/blob/topic-vnet/connectivity_vnet_test.go
in which there are symmetric NATs on both ends, if one end did not have TURN server URL (but has STUN server URL), the connection fails!

### What did you expect?
srflx-relay pair should succeed, when both ends have a symmetric NAT,

[2019-07-03 01:57] enobufs commented on #65
Looking at coturn, its permission hashtable only evaluate IP address/family, not port: https://github.com/coturn/coturn/blob/master/src/server/ns_turn_allocation.c#L248

We should do the same!

[2019-07-03 06:29] enobufs opened #66 "[WIP] Rename 'cmd' folder to 'examples'"
The pion/turn is a library, not the application, as @Sean-Der intended.  We should move simple-turn and client applications into 'examples' folder.

Also, I believe we should consider removing client API (and cmd/client also), and use pion/turnc instead.

[2019-07-03 08:00] songjiayang commented on #65
@enobufs You are right. With RFC 5766, `Permission`  only include IP and `ChannelBind` with IP and port.  I have created  the same issue https://github.com/pion/turn/issues/41 for this problem.

[2019-07-03 09:48] enobufs opened #69 "Relay socket should not listen on 0.0.0.0"
### Your environment.
  - Version: v1.2.0
  - Browser: n/a

### What did you do?
This bug has been introduced since we removed ipv4.FlagDst.
Turn protocol listen ports are now using "specified" IP addresses, but relay ports have not been taken care of.

### What did you expect?
Obviously, if listen addr is 0.0.0.0, permission search would fail because the permission hash is based on "specified" (n

[2019-07-03 16:58] #41 closed

[2019-07-03 16:58] #65 closed

[2019-07-04 02:59] enobufs opened #71 "Fix replying to ChannelBindRequest with BindingSuccess"
### Your environment.
  - Version: 3371cd7
  - Browser: n/a

### What did you do?
Running the ice test in topic_vnet branch
[code]

### What did you expect?
ChannelBindRequest completes successfully.

### What happened?
I am seeing this error:
[code]

[2019-07-04 06:59] #69 closed

[2019-07-04 12:56] Sean-Der commented on #66
👍

We should probably also write about this more/explain the design decision. I will open a PR for that!

[2019-07-04 13:42] #71 closed

[2019-07-04 17:32] gmbad commented on #26
Hello,

Same problem here. "Packet unhandled in relay src ".

Any ideas?

Tks

[2019-07-10 14:41] namreg commented on #18
@Sean-Der I have filed the PR. Check it out, please, when you will have a time

[2019-07-11 01:43] enobufs opened #74 "TURN client refactor"
## Summary
### Issues:
* Current pion/turnc behaves as “port-restricted” NAT
* If the other end is a symmetric NAT, ICE cannot find a valid candidate pair
* Current pion/turnc is overly complex to fix this

### Related Issues on Github
* Switch to "address-restricted" permission (pion/turnc#11)
* Add vnet support (pion/ice#46)
* Share one UDP socket with all UDP candidates (pion/ice#76)

## Motiva

[2019-07-11 12:43] #18 closed

[2019-07-14 21:51] enobufs commented on #66
@Sean-Der
I think we should remove the docker files as well (to reduce our maintenance cost).. ok with you?

[2019-07-14 23:38] Sean-Der commented on #66
Yea @enobufs that is a great idea.

I will drop a PR for this soon! I will write a nice explanation that we are doing `TURN as an API` for Server and Client.

Also I am thinking we should direct people to coturnd and gortc if they are looking for a TURN server and not the flexibility.

[2019-07-15 00:35] enobufs commented on #66
Great!
@Sean-Der I had to write another command-line tool as an example to test with coturn.
(I have fixed all problems with coturn!)

Please let me push a PR that moves cmd to examples because I created the above tool in the examples folder already...

[2019-07-15 00:51] enobufs commented on #66
It is `cmd2examples` branch.

[2019-07-15 01:01] enobufs opened #76 "TURN server should return 420 (Unknown attribute) when it sees unexpected attribute"
I noticed that when a request contained Requested-Transport attribute in CreatePermission, RefreshRequest or ChannelBind request, the TURN server never complains it and handles it as if it was no there.

The coturn however, returns 420 (Unknown Attribute) in the above cases.

Our TURN client is being tested with its own TURN server, it would be great to generate errors when the server sees unexpec

[2019-07-15 08:01] #74 closed

[2019-07-15 19:23] enobufs opened #78 "Fix build error (nil pointer dereference)"
### Your environment.
  - Version: v1.3.0
  - Browser: n/a

### What did you do?
CI reported build error (log shown below)

### What did you expect?
Build and tests to pass

### What happened?
[code]

This never happens on my PC, but I found a typo in the code. The nil check was done against a wrong variable:
[code]

[2019-07-15 20:53] #78 closed

[2019-07-17 07:02] #66 closed

[2019-07-17 12:33] ghost opened #81 "How to make Pion TURN work with SSL?"
Hello, thanks for the nice alternative.
Can Pion TURN work with SSL?

[2019-07-17 14:53] daenney commented on #81
I would expect that can be done with github.com/pion/dtls. You'll have to `dtls.Dial()` first which returns a `dtls.Conn`, which implements the `net.PacketConn` interface. B/c of this you can set the returned conn from a `dtls.Dial()` on `turn.ClientConfig.Conn`. You can do the same thing for the server side by using `dlts.Listen()` instead.

I'm not sure if this works, but I would expect it does.

[2019-07-17 15:03] daenney commented on #81
On second thought, I might be wrong. `dtls.Dial()` gives us a `net.Conn`, not a `net.PacketConn` and `dtls.Listen` gives us a `net.Listener`.

[2019-07-18 06:12] enobufs opened #82 "Support hairpinning routing with TURN server"
## Summary
I deployed coturn server on AWS EC2, using -X option to assign a public (elastic) IP address so that allocated relayed transport address is routable.

If I use `ICETransportPolicyRelay` (use relay only), two pion nodes wouldn't connect with each other. The reason is, and I am pretty sure, the 1:1 private/public port mapper AWS provides (configured via security group) does not route pack

[2019-07-18 06:35] enobufs commented on #3
Now it has logger!

[2019-07-18 06:35] #3 closed

[2019-07-26 15:12] daenney commented on #81
@Sean-Der You're a lot more well versed in this than I am. If I look at the code, I don't think we can just wrap pion/dtls around it and have it work, so providing easy options for it would be hard to.

What do we need to do to make it happen? And does it make sense?

[2019-08-05 17:40] enobufs commented on #42
@henryZhangDev I could not understand your question or issue above well... By (4), P learns C's relayed address, so P can start sending a connectivity check packets (Binding Request) to the relayed address, which would be done automatically by ICE (pion/ice) for you.

[2019-08-08 23:54] enobufs commented on #56
@Sean-Der Can we add this to the 2.2.0 project? If this, plus #82 is supported, I'd switch my TURN server to pion/turn. (how do I add this ticket to the project?)

[2019-08-15 06:36] songjiayang opened #84 "Allocation refresh with zero lifetime not deleted as expected"
### Your environment.
  - Version: v1.3.3 -38ac12
  - Browser: n/a

### What did you do?

Refresh allocation with 0 second lifetime

### What did you expect?
The `allocation` doesn't remove from the manager as expected.
### What happened?
Not removed, this because when we use `0` fresh lifetime, the old lifetimer only stop rather firing at once, related code is [allocation.go#L165](https://github.

[2019-08-16 03:11] #84 closed

[2019-08-19 04:14] #56 closed

[2019-08-20 16:39] enobufs opened #87 "turn.Client to allow net.Conn"
## Summary
As preparation for tackling TCP support TURN protocol (#1), TURN client implementation needs to be able to take net.Conn in addition to net.PacketConn.

## Motivation
See #1.

## Proposal
Current TURN Client design assumes that an instance of Client is created per socket (net.PacketConn). See  [Pion: TURN Client Refactor](https://docs.google.com/document/d/1kNHqKI3OL9CeoVJve7ehmWvOSj98G

[2019-08-20 17:14] enobufs commented on #87
This is blocked by https://github.com/pion/transport/issues/27, but no entirely. We can introduce ResolveTCPAddr.

[code]

[2019-08-28 18:43] epes opened #88 "Panic in conn.bind"
### Your environment.
  - Version: 1.3.4

### What happened?
Can't exactly reproduce this.

[code]

[2019-08-29 07:49] enobufs commented on #88
`return err` is missing in the previous statement
https://github.com/pion/turn/blob/v1.3.4/internal/client/conn.go#L520

I believe, this happens when channel binding transaction was failed. I will fix it.

[2019-08-29 14:49] #88 closed

[2019-08-29 16:47] enobufs commented on #88
Thanks @epes for reporting this bug!

[2019-08-29 21:14] enobufs opened #92 "Increase test coverage"
We've seen a few bugs in pion/turn which could have been easily detected earlier if there were sufficient test coverage. With this ticket, let's aim for 80%+ coverage at least for ./internal/client package.

[2019-09-03 05:58] songjiayang commented on #92
I hope that I can contribute a little strength 🆙

[2019-09-16 20:44] AlekRuzic opened #95 "Can the REALM just be the public DNS of the EC2 instance?"
I created a fresh linux ec2 instance and ran all the commands. My turn server still doesn't seem to be working. Is it fine that I used my public DNS? I can't think of any other way to do it.

Are there any steps I may be missing? I literally just created the instance and ran the 6 commands.

[2019-09-19 07:16] Sean-Der commented on #25
Hey @kevzettler

Sorry this didn't get triaged sooner. We have pivoted away from providing a TURN server, and more are targeting `A library for building TURN clients and servers`.

I will update the documentation to reflect this, but my opinion is that TURN requires too much flexibility for something out of the box to work. I want to provide an API/Interface that you can satisfy so you can easily

[2019-09-19 07:16] #25 closed

[2019-09-22 18:21] enobufs opened #97 "Incorrect warning: "vnet is enabled""
### Your environment.
  - Version: v1.3.6
  - Browser: n/a

### What did you do?
Ran my app using pion/turn with PION_LOG_WARN=all

### What happened?

I see this warning even though vnet is not enabled
[code]

[2019-09-22 19:14] #97 closed

[2019-09-30 21:03] enobufs opened #102 "CreatePermission error response (error 438: Stale nonce)"
Reported by Aaron France
### Your environment.
  - Version: v1.3.7?

The log comes from [this line](https://github.com/pion/turn/blob/541c905657714a0127be801c83dfec09860131ff/internal/client/conn.go#L489)

* TURN connection was not used at that time
* It appears to happen after 15 min or so.

[2019-09-30 21:09] enobufs commented on #102
There seems to be two issues:

1. Why server is saying stale noce but no refreshed?
1. Why ICE keeps using TURN connection which was not "selected"

[2019-10-01 17:35] enobufs commented on #102
@AeroNotix
Not too informative, Chromium had a similar problem long time ago: https://bugs.chromium.org/p/webrtc/issues/detail?id=1520
[code]

[2019-10-01 18:34] AeroNotix commented on #102
@enobufs the solution mentioned in that thread is relatively the same as what I have in the PR _except_ they _seem_ to be suggesting what I alluded to in: https://github.com/pion/turn/pull/103#issuecomment-536927031

Meaning anytime we get a 438 from any request, we need to fallback, get the new nonce and retry. I'd actually recommend proactively getting a new nonce way before any of the agreed up

[2019-10-03 22:15] #102 closed

[2019-10-03 22:23] enobufs commented on #1
@Sean-Der in case it helps, here are my thoughts for what it's worth...

## Framing
We will need to synchronize the STUN packets over TCP. I do not think RFC 5766 does not mention anything about how the synchronization should work. I believe, we have to follow STUN RFC [Sec 7.2.2](https://tools.ietf.org/html/rfc5389#section-7.2.2) for it, which seems to indicate that we do not have to have additio

[2019-10-06 17:17] Sean-Der commented on #1
`pion/webrtc` now supports TCP!

I will know working on adding server support to `pion/turn` so we can have integration tests

[2019-10-10 07:45] Sean-Der commented on #1
@enobufs I started looking at this, what do you think of these API ideas?

I would like the API to be like how we have `Client` people pass in Conn/Listeners, and then we just loop over them. That will give people the flexibility they need to do `UDP`, `DTLS`, `TCP` and `TLS`. It will require API breakage though.

[code]

Then users can populate the PacketConns with UDP sockets. PacketConnListener

[2019-10-10 08:01] enobufs commented on #1
@Sean-Der
I have actually been wondering if turn.Client should have completely owned the conn.
The reason is because, when you try to close, turn.Client, it has to close the conn to have conn.Read() unblock. (this problem may be happening in CandidateRelay...) I also thought about using conn.SetReadDeadline to unblock Read(), but then turn.Client is changing the behavior of conn that it does not o

[2019-10-10 08:18] Sean-Der commented on #1
Oof that is a tough one, I don't know which is better.

I think closing the passed socket is 'least' surprising. Otherwise we will be leaking a goroutine. It will also be pretty easy for the user to debug/tell that the socket was closed if they were reading it in another thread.

I wish Go had the ability to cancel Reads, that would make this a lot easier! Something like `select` would be great

[2019-10-10 08:19] Sean-Der commented on #1
Personally I like how `Client` is, it gives us the flexibility to do a lot more. After we land `TCP` support I am going to update the docs and talk more about the 'vision' and setup auto-building.

I think it is really powerful if we can provide an 'API for building TURN servers'. At work scaling coturn is really painful, I would love if we could get `pion/turn` to the point that we could easily s

[2019-10-10 21:45] enobufs commented on #1
I am fine with decoupling conn from Client and Server as long as we can do so safely.

Looking at turn.Client code, it attempts both patterns, deatch and non-detached conn, but with one problem as I mentioned above, where you pass conn to turn.Client, but if you use Listen(), you cannot unblock Read() unless you close the conn you attempted to detach. Too bad golang's net is designed this way and

[2019-10-11 06:53] Sean-Der commented on #1
My vote is we only do `HandleInbound()`then! Would you be ok with getting rid of `Listen` I would prefer we only have one pattern of doing this.

I don't mind verbosity, I think this way accomplishes what I want the most (Flexibility, Explicit/Not Bug Prone)

re: scaling. I don't like how coturn forces you to do integrations (with stuff like redis). Lots of companies have existing proprietary syst

[2019-10-11 07:41] enobufs commented on #1
It's your call!

It's just me trying not to invest anything until I know exactly what the goal is.  I know you have some idea!

[2019-10-11 08:12] Sean-Der commented on #1
Totally understand! I will do `/v2` if we don't like it we can start over.

I really love your feedback though, lots of great ideas have come out of it! I have made so many tech debt mistakes, so nice to get others people opinion.

thanks @enobufs! Will try to have something this weekend, I really want to have integration tests before I call  `TCP support` done.

[2019-11-15 00:23] rstinear commented on #1
Thanks for this project, really useful. Is there any more progress on TCP support?

[2019-11-19 09:04] Sean-Der commented on #1
@rstinear hey! I am REALLY shooting to have this done this weekend.

Technically the work isn't hard just struggling with designing a good API, I want to measure twice cut once hopefully :) I will have a PR you can test with that supports `UDP`, `DTLS`, `TCP` and `TLS` by the end of this weekend!

[2019-12-03 22:34] rstinear commented on #1
How have you gotten on @Sean-Der ? I'm still keen to take a look at a PR when you get the chance, thanks!

[2019-12-03 23:18] Sean-Der commented on #1
@rstinear yes! It is a real mess right now, but I have been prototyping on https://github.com/pion/turn/blob/v2/examples/turn-server/main.go#L59-L81 it is a mess, but I am playing around with ideas I have wanted to do for a while.

### You pass `Conn` and `PacketConn` directly into the server
* You can intercept/inspect traffic easier. This could let people do interesting things.
* You can do more

[2019-12-21 11:52] agowa338 commented on #82
You could imply fix add this loopback nat capability using iptables. Just DNAT your own public IP to your internal IP.
Or even simpler just do `ip addr add dev lo 198.51.100.27/32` on the EC2 server. That way when the server tries to establish a connection to that IP the linux kernel will recognize it as being itself and the connection does not leave the instance and the application can answer the

[2019-12-25 07:59] plcs2eco commented on #46
I think that you have to download either one of below executable files Songjiayang says from the [link](https://github.com/pion/turn/releases/tag/1.0.3).

simple-turn-windows-386.exe
simple-turn-windows-amd64.exe

I think that these executable files were built from Go file.  So I think that I don't need to install Go though I have installed Go, just in case.

Other [link](https://github.com/pion/t

[2020-01-03 08:07] Sean-Der commented on #1
Hey @rstinear

TCP support is merged into master. I am going to work on bringing up the code coverage ~80% and fixing bugs before I announce though!

If you have any opinions/thoughts I would love to hear them. The design has dramatically changed, but I believe this goes down the path of solving issues with TURN servers people have been fighting.

[2020-01-04 01:49] enobufs commented on #82
@agowa338 Use of iptables sounds like a good idea. But the `ip` command you showed tho, would it alter destination IP? I guess your assumption is, the server would also be listening on the added IP right?  Also, are you able to show an example of iptables commands I can try? Thanks!

[2020-01-04 11:55] agowa338 commented on #82
No, but the application would need to listen on all interfaces `0.0.0.0`. And no the destination ip will not change as long as you don't change it in the iptables rule. I don't know why you would want to change it in this cases though.

Yes

You could do a dual NAT:
Assuming your EC2 instance has the public ip 198.51.100.27, the internal IP 192.0.2.5 and the interface is eth0.
[code]
And as amazon

[2020-01-09 08:29] Sean-Der commented on #81
This is done!

The Server now accepts a slice of `PacketConnConfig` or `ListenerConfig`. With `ListenerConfig` you can pass anything that implements the `net.Listener` interface.

so `pion/turn` can now use the result from `tls.Listen` or it can use the `Listener` that is provide by `pion/dtls`!

[2020-01-09 08:29] #81 closed

[2020-01-09 08:31] Sean-Der commented on #1
Ok I feel pretty good about this, check it out when you get a chance! We have a simple example [here](https://github.com/pion/turn/blob/master/examples/turn-server/tcp/main.go)

I would love peoples feedback. I also have the `v2` [release notes](https://github.com/pion/turn/releases/tag/v2.0.0) to see everything that went into this release. I would love peoples feedback before I announce to the gr

[2020-01-09 08:31] #1 closed

[2020-01-09 08:32] Sean-Der commented on #95
Hi @AlekRuzic

Sorry for the relay, I just released `v2` with updated commands. If you get a chance would love if you could try it out again!

[2020-01-09 08:32] #95 closed

[2020-01-09 08:42] Sean-Der commented on #40
This looks to have been fixed, if you are still having this issue please re-open. Thanks for using Pion TURN!

[code]

[code]

[2020-01-09 08:42] #40 closed

[2020-01-13 09:22] Sean-Der opened #111 "Add client tests for refreshing nonce + permissions"
None of this code is currently tested in the client.

Stale nonces don't even exist in the server, so would be good to implement + cover in same PR

[2020-01-13 09:25] #27 closed

[2020-01-13 09:25] Sean-Der commented on #27
Sorry this took so long @superp00t I am taking a break from working on `pion/webrtc` and want to spend some time on TURN.

[2020-01-14 08:18] #87 closed

[2020-01-14 08:29] Sean-Der commented on #47
Hi @ninenite

Sorry for the delay, but I have updated the documentation to explain how to use Go to build the examples. I also generate binaries for the examples if you want to quickly deploy the existing ones.

Thanks!

[2020-01-14 08:29] #47 closed

[2020-01-14 08:29] Sean-Der commented on #43
Hi @sebastianjohn

Sorry for the delay, but I have updated the documentation to explain how to use Go to build the examples. I also generate binaries for the examples if you want to quickly deploy the existing ones.

Thanks!

[2020-01-14 08:29] #43 closed

[2020-01-14 08:30] Sean-Der commented on #46
Hi @HanseyChan

Sorry for the delay, but I have updated the documentation to explain how to use Go to build the examples. I also generate binaries for the examples if you want to quickly deploy the existing ones.

Thanks!

----

@plcs2eco To be more consistent everything is now driven via command line arguments. I have updated the client and server examples to follow the same pattern.

[2020-01-14 08:30] #46 closed

[2020-01-15 05:55] Sean-Der commented on #42
Hey @henryZhangDev

If you have more questions I am happy to help! I don't have anything to add over @enobufs question. It might be helpful to run two `pion/ice` agents against `pion/turn` then you can see everything interact.

If I can be helpful I am happy to talk in [Slack](https://pion.ly/slack) anytime!

[2020-01-15 05:55] #42 closed

[2020-01-15 06:06] #26 closed

[2020-01-15 06:08] Sean-Der commented on #26
Sorry for the delay everyone!

This message can happen if you a peer without an Allocation/ChannelBind is attempting to use the TURN server's relay. This should be expected if you are attempting to contact the TURN server from behind a NAT but didn't tell the other side your public IP.

I am happy to help if you can describe your setup/how you are using the TURN server! I am also available on [Sla

[2020-01-15 06:10] Sean-Der commented on #39
@songjiayang I would really love to see this implemented!

Have you done any research in how to handle UDP messages in high performance scenarios? It seems like this could be highly variable.

If you are copying across threads but only having one user that could take up a lot of extra CPU vs cases where it does make sense. If you are interested would love to work on this together. I am going to st

[2020-01-15 08:46] Sean-Der commented on #35
Hey everyone, sorry for the delay!

I believe this is solved by 06a2f68d47754b2195daf547a36b3a223aa2b641 before we didn't properly tear down allocations in some cases. I am going to be working on TURN everyday for a couple weeks, so if anyone has feedback I would love to hear!

Thanks for using Pion, and sorry for the delay.

[2020-01-15 08:46] #35 closed

[2020-01-15 08:48] Sean-Der commented on #37
I updated the documentation to reflect we are building an API, and not a server!

If anyone in the future wants to contribute more featureful examples I would love to have them. For the time being I am personally happy with how the repo looks. I am using `pion/turn` in production and have been modifying/designing it for my needs. I would love to get others feedback though!

thanks

[2020-01-15 08:48] #37 closed

[2020-01-19 06:30] songjiayang commented on #39
I have done a benchmark test, but not too much improvement 😄 .

[2020-01-20 14:27] kleky opened #118 "Implement RFC-6062"
## Summary

Implement RFC-6062, Traversal Using Relays around NAT (TURN) Extensions for TCP Allocations

## Motivation

To provide a TCP relay client for use with a service such as Coturn.

## Describe alternatives you've considered

Unable to find any clients that support RFC-6062.

## Additional context

Already discussed over Slack with a colleague of mine, **Lewis Jessett** and @Sean-Der :

ht

[2020-01-20 16:31] Sean-Der commented on #118
Fantastic news! So excited you are able to use Pion @kleky I will make sure to help with the whole process/get things landed :)

I am reading the RFC now and will come back with my thoughts!

[2020-01-20 17:02] kleky commented on #118
Looks like we need to update vnet as it doesn't support TCP.

https://github.com/pion/transport/issues/27

[2020-01-21 07:05] Sean-Der commented on #92
I just added +4% with Client+Server tests for stale nonces!

@songjiayang @enobufs I will start a list of easy wins people can write tests for :) this is also a good chance to refactor/cleanup anything we run into.

[2020-01-21 07:09] Sean-Der commented on #111
Done! Server side we now have nonces and client side has tests (and it exercises the server)

[2020-01-21 07:09] #111 closed

[2020-01-21 07:18] Sean-Der commented on #92
The client code has quite a few refresh related things that aren't tested.

We should allow the server to have very short expiration times, and then force things to be run [conn.go](https://codecov.io/gh/pion/turn/src/d3c8709499ceb749fa77df09d2035634c3a34100/internal/client/conn.go)

[2020-01-21 07:19] Sean-Der commented on #92
The server has quite a few easy tests as well, we can send invalid packets in and confirm that an error gets returned/things don't crash [turn.go](https://codecov.io/gh/pion/turn/src/d3c8709499ceb749fa77df09d2035634c3a34100/internal/server/turn.go) should be easy to test

[2020-01-21 07:33] Sean-Der commented on #118
@kleky

Don't worry about adding `TCP` support to vnet. I don't think that blocks us getting this in at all. It is useful for testing how things behave in different network topologies, but I think it is less useful for TCP.

I read the RFC and seems *pretty* straight forward. We need to add some new handlers in [turn.go](https://github.com/pion/turn/blob/master/internal/server/turn.go) to handle `

[2020-01-21 10:43] kleky commented on #118
Thanks @Sean-Der , at client.go:45, Net appears to be tied to vnet.

Glad you think it's pretty straight forward! 😆

I created a fork [here](https://github.com/kleky/turn) and pushed a change already. not wanting to duplicate on this so shall we decide who's on what? Unless you've got it all covered or prefer a different way of working?

Many thanks.

..will look into getting you coturn. no idea a

[2020-01-21 18:58] Sean-Der commented on #118
@kleky I added both of you to the `pion` organization. You can push a branch directly here!

That will make it a lot easier for us all to work together :) You will also get all the nice tooling/be able to pin easier.

----

I think we need to modify `Client` extensively, and have a `TCP` and `UDP` mode. We will can add a new entry `TCPConn` that takes a `net.Conn`

We also need to support it runni

[2020-01-21 18:59] Sean-Der commented on #118
This is a pretty big paradigm shift, but we will make it work :)

Feel free to refactor/change aggressively as well. I will work on getting test coverage up higher also, will make things a lot less brittle.

[2020-01-21 19:47] kleky commented on #118
Haha yes indeed, we realized there appears more work than anticipated, but we'll get there. Although, because we're using coturn maybe someone else could take on the pion turn server side of it?

Thanks for adding us, it'll be much easier.

We started looking at (3) the sending of the Connect request, which will involve a new message type in [stun/message.go](https://github.com/pion/stun/blob/8b8a

[2020-01-21 21:15] Sean-Der commented on #118
I can do all the server work!

If you can get the client + tests passing with coturn, I can then point them against the server and implement everything.

[2020-01-22 08:46] Sean-Der opened #120 "TURN Server should require same MessageIntegrity used for creation+access of allocation"
We should store the MessageIntegrity used to create the allocation, and then assert that it hasn't changed across requests

[code]

[2020-01-26 04:28] at-wat opened #122 "Send on closed channel in internal/client.Transaction"
https://github.com/pion/turn/blob/50d4c3d12fd18dd2a5013e821e24c95e2f017c9e/client.go#L465-L474
and
https://github.com/pion/turn/blob/50d4c3d12fd18dd2a5013e821e24c95e2f017c9e/client.go#L192
must not run in parallel.
`trMap.Find` -> `trMap.CloseAndDeleteAll` -> `trMap.Delete` causes `panic: send on closed channel` in
https://github.com/pion/turn/blob/50d4c3d12fd18dd2a5013e821e24c95e2f017c9e/client.g

[2020-01-26 04:33] at-wat commented on #122
https://github.com/pion/turn/blob/50d4c3d12fd18dd2a5013e821e24c95e2f017c9e/client.go#L514-L542
also has same problem.
It should be protected in `turn.Client` side.

[2020-01-30 06:59] #122 closed

[2020-03-16 13:48] ddbxyrj opened #129 "port range"
port range feature will be so nice if consider server is behand firwall. Do you will consider add this fearture? thank you
Ps the project is so good. By mixing variable technology tools, golang can finnaly bulid an webrtc engine, and mybe do extruct some ideas to build another net streamming commication structure.

[2020-03-16 20:11] Sean-Der commented on #129
Hey @ddbxyrj thanks for the kind words :)

This is possible today!

Copy [this](https://github.com/pion/turn/blob/master/relay_address_generator_static.go) file. Then in `AllocatePacketConn` pick a random port in the range you have chosen.

This could also be something we should add to the `examples` folder! Or maybe we should add a dedicated `RelayAddressGeneratorPortRange`  that allows people to

[2020-03-17 01:53] ddbxyrj commented on #129
thank you!

[2020-03-17 02:21] ddbxyrj commented on #129
I hanv an question. Turn server Allocate replay port can be reused for other client? or juset one port for an allocation at survival time window. If I relay a random there, I guess the port can't be recycle:)

[2020-03-18 01:16] ddbxyrj commented on #129
maybe just now we can give a ramdon port and if the port is using we ramdon again. nice try but not precise enough

[2020-03-18 18:38] nindolabs opened #130 "Pion/turn receive refresh request with 0 lifetime after 30 secs"
### Your environment.
  - Version:  v2.0.3
  - Browser: Chrome 80.0.3987.132

### What did you do?
Forcing tcp & relay in both sides.
Bitrate : 8Mbps

Pion server:
`var webrtcConfig = webrtc.Configuration{
	ICEServers: []webrtc.ICEServer{
		{
			URLs:           []string{"turn:192.168.1.65:3478?transport=tcp"},
			Username:       "test",
			Credential:     "test",
			CredentialType: webrtc.ICECrede

[2020-03-19 18:28] #130 closed

[2020-04-07 18:11] Sean-Der opened #134 "Add PermissionHandler to ServerConfig"
Right now users have no way to filter/log what permissions are being created. An attacker could be using the TURN server as a bastion box into NAT.

https://www.rtcsec.com/2020/04/01-slack-webrtc-turn-compromise/

[2020-04-18 06:08] s-sokolko opened #135 "Cannot build simple turn-server example"
### Your environment.
  - Version: master
  - OS: Ubuntu Linux 16.04 LTS
  - go version go1.6.2 linux/amd64
  - my ENV vars:
`
export GOPATH=~/go
export GOBIN=$GOPATH/bin
`

### What did you do?
I pulled pion/turn project source code and checked it out to the master branch.
Then I cd to examples/turn-server/simple and tried to go build.

### What did you expect?
I expected to get the simple exampl

[2020-04-18 06:09] Sean-Der commented on #135
Hey @s-sokolko

`pion/turn` requires Go 1.12 or greater, it uses Modules (that is where the `/v2` comes from in the URL)

[2020-04-18 06:12] s-sokolko commented on #135
Thanks for the reply, @Sean-Der ! I will try updating go version and build the example again.
Sorry for the lame question: I like your project, but don't have experience with Go

[2020-04-18 06:25] s-sokolko commented on #135
It worked like a charm, thanks!

[2020-04-18 06:25] #135 closed

[2020-06-03 10:00] cuiyijiee opened #141 "How to set up auto close time to release udp port on turn server after i killed my webrtc application."
hello, i am deploy this repository for my webrtc turn server。
## what happend
i meet a small problem,my application is builded by google-webrtc on android platform,
when i killed my application without close peerconnection normally,my turn server speed almost 10 minutes to close the udp port relayed , it is terrible。
![image](https://raw.githubusercontent.com/AwsomeCui/cc976655.github.io/master/La

[2020-06-12 11:59] seankhliao opened #143 "RFC6062 implementation"
I've read #118 and the associated branch [`rfc-6062-client`](https://github.com/pion/turn/tree/rfc-6062-client) and decided starting from scratch would be a better for me.

Currently on branch [`rfc6062`](https://github.com/pion/turn/tree/rfc6062) (sorry for confusing naming)  is a partially done modification of the client. Creating outbound requests `Connect` works as well as well as associating

[2020-06-13 08:31] Sean-Der commented on #143
Fantastic work @seankhliao!

I don't have any hard rules, but if you can get ~80% coverage that would be great! I usually like doing E2E tests, and then more fine grained tests for Marshal/Unmarshal.

Yea I noticed we do this wrong. I would cut an issue and solve in another PR. If your PR is really big it is hard for me to merge :( I have a lot of people get annoyed, but I need to read all the cod

[2020-06-13 08:40] seankhliao commented on #143
I think the `ConnectionAttempt` thing needs to be exposed to the user in some way, in UDP everything comes in on a single socket, but in TCP you need to open/dial a new connection for every incoming one. Maybe have `AllocateTCP` take a handler as a argument?

[2020-06-21 08:09] OmarHassanT commented on #135
I use 1.14.4 version but I faced the same problem. Can you please tell me how you run the file.

[2020-06-28 02:38] AwsomeCui commented on #141
Is there a solution to this problem?

[2020-06-28 08:01] AwsomeCui commented on #141
i tried to modify ServerConfig.ChannelBindTimeout to 2 Seconds, but it did not work.
[code]

[2020-06-30 02:41] Sean-Der opened #144 "Failed to refresh permissions: CreatePermission error response (error 400: Bad Request)"
Logs are full of refresh failures. This is for coturn over UDP

[code]

[2020-07-03 14:49] seankhliao commented on #143
A update:

The current branch has both a server / client that should work now (tested manually with coturn / coturn_uclient).
Problems:

- reusing the same port for incoming/outgoing conns with TCP requires some extra syscalls, not sure how portable it is (it need golang.org/x/sys/unix
- related to the previous point, haven't wrapped my head around vnet
- api changes:
  - the incoming connection h

[2020-07-06 09:28] jopicornell opened #146 "Connection using relay fails after successful connection"
### Your environment.
  - Version: turn v2.0.3 / stun v0.3.5
  - Browser: Chromium Version 83.0.4103.116
  - Other Information:
Our logs show this on the browser:
[code]

I log every message I receive. What seems to happen from the server is that when a refresh message, there's some kind of error allocating. This is what the server is logging on a TCP connection:
[code]

This is a log when UDP con

[2020-07-25 06:01] Sean-Der commented on #143
crap sorry I missed this @seankhliao! Holy crap that is amazing progress!

* I am not sure about portability issues, but it would probably be a blocker :( I will have to see what you are doing to be sure
* vnet is really only for UDP right now, so you can ignore!
* API changes are fine with me! We can just do a `/v3` and do w/e you need. I really want to merge your work.

Really sorry I was slow o

[2020-08-01 15:11] jipson7 opened #150 "Track amount of bandwidth utilized overall and by a specific user."
## Summary

Would like to know how to track the bandwidth used by a user on the turn server. Or simply overall bandwidth to start.

## Motivation

Primarily for billing and book keeping.

## Describe alternatives you've considered

I looked at the turn-server logging example but couldn't see anything obvious that would lend itself to tracking bandwidth.

[2020-08-07 14:21] avalkowsky opened #151 "Dockerize it"
Hi,

I was trying to use it in docker, however I failed on building the go image - probably needed to import some specific go libs.
I'm a total newbie to GO so I failed.

Would you be able to prepare a dockerfile for the examples?
One generic dockerfile probably would do the trick.

I suppose it would be much more usable if it was easier to deploy :)

[2020-08-13 16:14] jason-shen opened #152 "Stun server"
Hi All

First of all thisbproject is awesome, I have been looking through the sample code, didn't find a way to build a stun server, there are examples for a turn, can any.one point me to the right direction of build an stun from this

Thank you advance.

Jason

[2020-08-31 21:54] Sean-Der commented on #152
Hey @jason-shen sorry for the delay on this.

This is a STUN server also! The logic for the server side is [here](https://github.com/pion/turn/blob/master/internal/server/stun.go)

If you are interested it would be a great contribution to update the README to mention this :)

[2020-08-31 21:54] #152 closed

[2020-09-08 03:32] barkhasikka commented on #146
I am facing the same issue. Any solution for this?

[2020-09-15 10:12] acondura commented on #81
Could you please show an example how we could use SSL certs with this for example https://github.com/pion/turn/tree/master/examples/turn-server/tcp?

[2020-09-21 01:54] Sean-Der opened #166 "NewLongTermAuthHandler has no code coverage"
This seems like a place that would be very easy to break.

I am writing a test now, and should have this closed out tonight!

[2020-09-21 02:26] #166 closed

[2020-09-27 05:30] Sean-Der opened #168 "Detect stale nonces"
Update `buildNonce` and `authenticateRequest` to generate and check the times on those.

[2020-09-27 06:08] Sean-Der opened #169 "Attempt to re-create ChannelBind on failure"
Right now when we attempt to create the ChannelBind we don't re-attempt on failure.

[2020-09-28 07:30] umbrellary commented on #29
It is sometimes necessary to only enable stun mode

[2020-10-02 20:53] Maickonn commented on #146
Same issue here too.

[2020-10-07 19:04] bshimc commented on #146
We're seeing the following

    turn INFO: 2020/10/06 23:40:15 No Permission or Channel exists for 127.0.0.1:59188 on allocation 127.0.0.1:52020

[2020-10-08 09:35] Varooneh opened #171 "Different windows releases?"
Hi,
I download pion turn windows release and extract it but I've 4 executable files:

1. `turn-server-add-software-attribute`
2. `turn-server-log`
3. `turn-server-simple`
4. `turn-server-tcp`

Which different between this files? which different between `turn-server-simple` & `turn-server-tcp`?

Also, can for turn user management can I connect to MSSQL database? and pion turn server can support stu

[2020-10-24 19:25] gmbad commented on #171
Hello Varooneh.

I also didn't find the difference between these binaries in the documentation.

I tested the turn-server-simple.exe option, but the webcam freezes after a few seconds.

The way was to go back to using version 1.4.0. (compiled by Go)

[2020-10-24 20:50] gmbad opened #176 "WebCam freezes after a few seconds"
Hi All!

I use version 1.4.0. Its works fine.

I tried to migrate to version 2.0.2, with the binary "turn-server-simple". But after a few seconds the webcam freezes.

Does anyone know what may be happening?

Thank you,

Gabriel

[2020-10-25 05:16] Sean-Der commented on #176
That's not good! Do you see any logs like https://github.com/pion/turn/issues/146 ?

I haven't had a chance to look into this, but it sounds like we regressed. Would you mind doing a bisect, I would love to fix this.

What are the two clients you are running. What is the network you are in (can you reproduce this in your LAN) etc... if you can get this reproducible in a small way (or track down a

[2020-10-25 20:49] gmbad commented on #176
Hi Sean!

Thanks for helping.

My server is Windows 2020.

I am using version v2.0.2 of Pion.

I tested it on my own network with the Chrome browser. Version 86.0.4240.111

How can I generate this LOG, like  #146 ?

Thank you very much,

Gabriel

[2020-10-26 02:08] gmbad commented on #146
The same problem here...

Tks

[2020-10-27 12:56] gmbad commented on #146
Sean, can you help us?

Thanks

[2020-10-27 15:03] gmbad commented on #176
Hello @Sean-Der

Yes, them problem is the same like #146

After 40 seconds, the connection fail.

Thanks,

Gabriel

[2020-10-29 02:57] Sean-Der commented on #176
Closing as dump of #146 (going to start working on it now!)

[2020-10-29 02:57] #176 closed

[2020-10-29 04:13] Sean-Der commented on #146
Hey @jopicornell

Sorry for the delay, been dragged away by some other stuff. I am not able to reproduce this. Any idea what I am doing wrong?

* I tried locally and on GCE
  - On the GCE instance I allowed all UDP and TCP ingress/egress
* I am running 57027727f61376bbe2475cdca8dd8af176de626b

I used this Javascript

[code]

[2020-10-29 18:03] bshimc commented on #146
For us the situation triggers when there are a lot of concurrent peerconnections.  It doesn't seem (directly) tied to message qps.

[2020-11-02 15:05] StanisalvPopadynets opened #178 "Are credentials needed?"
It appears there is no ability to add ICE candidates with username and password where I want to use TURN server unlike some testing pages like https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/. My question is whether or not it is possible to run TURN server without users.

[2020-11-02 17:40] Sean-Der commented on #178
@StanisalvPopadynets You set these details in the `AuthHandler` you can see an example [here](https://github.com/pion/turn/blob/master/examples/turn-server/simple/main.go#L50-L53)

We don't just take a list of credentials. This way you can integrate with other libraries/services (where all users aren't know up front, and you can delete them)

[2020-12-26 21:00] Sean-Der commented on #10
This is going to be a general goal across the entire Pion organization. Closing ticket just for this repo.

[2020-12-26 21:00] #10 closed

[2020-12-26 21:01] Sean-Der commented on #20
coturn isn't being actively developed anymore. Resolving since we will not get a response on this.

[2020-12-26 21:01] #20 closed

[2020-12-27 06:32] Sean-Der commented on #129
Closed by 73942c387bd12c0d200bb0c6813421cb352cf77c

`RelayAddressGenerator` is a new generator that handles all the port handling for you :)

[2020-12-27 06:32] #129 closed

[2020-12-28 18:30] Sean-Der commented on #178
Hey @StanisalvPopadynets

If you are still having issues please re-open! Thanks for using Pion

[2020-12-28 18:30] #178 closed

[2020-12-28 21:57] andrefsp opened #192 "turn ERROR: BadFormat for attribute/message: buffer length 1500 is less than 1520 (expected message size)"
### Your environment.
  - Version: *feb51eca38f7f449bee345723b26b44202b5e590*
  - Browser: *include version*

### What did you do?

Currently building an SFU. While testing I've set (sdpSemantics: 'unified-plan', iceTransportPolicy: 'relay') to force the traffic to be sent via turn server.
When adding 2 or more streams to a peer connection it seems the payload gets too big causing turn errors.

##

[2020-12-30 06:35] #192 closed

[2021-01-08 09:21] cedricve opened #195 "How to run in Kubernetes."
I'm trying to run the Pion Turn server in a Kubernetes deployment. However there comes a complexity with the portmapping range. Anyone worked on this already?

[2021-01-08 17:37] Jonathan727 commented on #144
I also see this issue.

The error `fail to refresh permissions: CreatePermission error response (error 400: Bad Request )` is logged every two minutes after coturn server reboot. I have not yet tested whether connectivity via the relay server ever recovers yet. If I do test that, I will update this issue in the future. I just wanted to post steps to recreate the issue.

### Steps to recreate

1.

[2021-01-12 22:38] cedricve commented on #144
@Sean-Der still in progress?

[2021-01-20 01:52] jech opened #197 "Large numbers of errors in log"
I've just run Galène against pion/turn instead of coturn.  The server was moderately loaded, a few lectures with 20 or so students each.  The log is riddled with messages that indicate problems between Galène and the TURN server — I haven't noticed any that indicate issues with communication with clients.

If my understanding of TURN is correct, some of the errors are not actual errors, but simply

[2021-01-21 06:45] iammeizu opened #198 "Distributed solution？"
## Summary

Need distributed turn solution to achieve high performance and high availability.

## Describe alternatives you've considered

coturn solution: https://github.com/coturn/coturn/wiki/TURN-Performance-and-Load-Balance

[2021-01-21 13:04] renovate[bot] opened #199 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:13] #199 closed

[2021-01-24 16:43] jech commented on #197
So I've looked at it in some more detail, and I see the following problems:

 * function `readLoop` unconditionally calls `s.log.Errorf`; it should call `Warnf` or `Logf` for errors that are likely to happen in normal behaviour;
 * the errors in `internal/server` are not exported, which means that you cannot easily decide on their type.

I can see two ways of solving the second issue.  The simples

[2021-01-27 00:00] jech opened #200 "Send 437 when allocation not found"
RFC 8656 Section 5:
[code]
I don't think we do that.

[2021-01-27 00:15] jech commented on #168
That's debatable.

RFC 8489 merely says "See Section 5.4 of [RFC7616] for guidelines.", while RFC 7616 says
[code]

[2021-02-11 08:53] dhaminitinAltran commented on #81
Hi has anyone used this with SSL where or how do we need to provide the certificates for configuring?

[2021-02-15 08:12] putrafajarh opened #202 "Bind to port 80 or 443 permission denied?"
Hi i got error when try to bind to port 80 tcp / udp

./tcp -users putra=fajar -public-ip 127.0.0.1 -port 80

panic: Failed to create TURN server listener: listen tcp4 0.0.0.0:80: bind: permission denied

[2021-02-15 09:03] at-wat commented on #202
Hi @putrafajarh, TCP/IP ports below 1024 are specified as privileged ports and *nix systems like Linux don't allow normal users to listen to these ports. Running the command with `sudo` to run as root is the simplest way to make it work.

If you are using Linux, adding `CAP_NET_BIND_SERVICE` capability to the program by `setcap` command also allows the program to use privileged ports.

refs:
- htt

[2021-02-16 03:04] #202 closed

[2021-02-16 14:00] putrafajarh commented on #198
im thinking use Dockerized and use AWS Network Load Balancer,

[2021-02-19 13:41] IdlePhysicist commented on #195
In your deployment.yml add `hostNetwork: true`, under `spec.template.spec`. Please note you will most likely want a dedicated node type for your TURN server then.

[2021-02-19 20:21] jmattheis opened #204 "panic: runtime error: slice bounds out of range [:3524] with capacity 1500"
### Your environment.

Version: v2.0.5
Edge Version 88.0.705.74 (64-Bit)
Chrome Version 88.0.4324.182 (x86_64)
Mac 10.15.7 (19H524)

[code]

Originally reported in https://github.com/screego/server/issues/74

### What did you do?

Used the turn server (:.

---

When `n > s.inboundMTU` a debug logging is written, I think it should return or modify `n` that `buf[:n]` doesn't panic

https://github.co

[2021-02-19 20:27] Sean-Der commented on #204
oof, yes! I am thinking the right thing to do here is return.

We can't read again right? I never actually reproduced this myself, sorry I should have put more effort into this one :/

[2021-02-19 20:31] jmattheis commented on #204
Maybe readFrom shouldn't return a number higher than the buffer. Similar to the standard golang apis. But I haven't tried yet to understand why this is the case.

[2021-02-28 15:53] jech commented on #200
Yes we do.

[2021-02-28 15:53] #200 closed

[2021-02-28 15:57] jech commented on #204
I believe this was fixed in 13867664acbcf7a2b55f561fc4ed61b46638438d.

[2021-02-28 16:00] jech commented on #169
Could you please clarify?

[2021-02-28 16:06] jech commented on #198
I'm not sure what this issue is requesting.

There's nothing preventing you from deploying an army of TURN servers, and using a frontend that returns alternate server replies.  A cleaner solution would be to have the clients load distribute, by having a different ICEConfiguration for each client.

[2021-03-02 02:58] iammeizu commented on #198
I try to deploying a cluster of turn servers behind a load balancer, but it's not work, because turn seems to use different ports to provide relay candidate and transfer data. Maybe I need a service finder to monitor turn servers and provide high performance.

[2021-03-09 12:20] jamesand opened #206 "Error when handling datagram"
### Your environment.
Windows Server 2019
Pion Turn server 2.0.2

### What did you do?
I executed "turn-server-simple.exe" to create a Turn server for a WebRTC project Im developing

### What did you expect?
To work ok. It does sometimes. Others it get an error.

### What happened?
When haviong a videocall using WebRTC, the console throws a lots of errors. For example:

turn ERROR: 2021/03/09 09:4

[2021-03-13 12:59] mohammadVatandoost commented on #206
I have the same issue in CentOS Linux 7.

[2021-03-22 05:46] jerry-tao commented on #204
I think the prolbe is [stun_conn.go#L68](https://github.com/pion/turn/blob/master/stun_conn.go#L68), if the frame size is larger than MTU, it will panic.
I think change it to:
[code]
could fix the problem, but i just start to learn about turn, if this is ok i will submit a PR @jech @Sean-Der  .

[2021-03-23 12:35] jech commented on #195
Could you folks please describe what the issue is?  I don't use Kubernetes myself.

[2021-03-30 10:07] alexrierra opened #210 "TURN without SSL"
May be a stupid question. But, is it safe to use TURN server without SSL encryption and certificate?  I know WebRTC encrypts its traffic with Secure Realtime Protocol.
What are the dangers of such use? Interception of traffic?

[2021-03-30 21:36] Sean-Der commented on #210
Hey @alexrierra

Many people do run TURN over UDP/TCP only (without TLS). I don't think it poses anymore risk then running your traffic over the internet in general.

For the security of client -> TURN server TLS is nice! It prevents anyone from monitoring or modifying the traffic. You can also be certain that the TURN server you are connecting too is who it claims.

Happy to talk about this more

[2021-03-30 21:36] #210 closed

[2021-04-10 17:38] mehrvarz opened #211 "Seeing relayed communication despite faulty credentials"
### My environment

- Latest Chromium and Firefox
- pion/turn on Linux on Go 1.16

### What did I do?

I run two WebRTC apps on two separate devices and Pion Turn on a server out there. One client is provisioned with a faulty username for testing purposes. Both clients are behind different symmetric NAT's. When I start the two apps, I immediately see the following show up multiple times: "error wh

[2021-04-10 18:51] Sean-Der commented on #211
Hey @mehrvarz

Is one client properly authenticated? Both sides don't need to use TURN for communication to work. So the side with faulty username will still be able to use the TURN server. It just uses the Relay created by the other side. Check out the [WebRTC for the Curious](https://webrtcforthecurious.com/docs/03-connecting/#turn) section on TURN.

permissions are created for each IP address t

[2021-04-10 19:26] mehrvarz commented on #211
When I change the username on the other client, so that both sides use a faulty one, the relayed connection does indeed fail. This comes as a bit of a surprise and I have to reflect on it a little longer. But thank you so very much for your quick response.

[2021-04-10 19:42] Sean-Der commented on #211
Ok that is great to hear, it sounds like things are working :)

If you want to ask more questions I am in [Slack](https://pion.ly/slack) and always ready to help

[2021-04-10 19:42] #211 closed

[2021-04-11 16:10] mehrvarz commented on #211
This is working out well. But multiple errors are thrown in the process of connecting the two clients. 2x "relay already allocated for 5-TUPLE" for the client that is getting authenticated:
https://github.com/pion/turn/blob/40ee5ed2f3ebf77582e41336b90be73cb90ee283/internal/server/turn.go#L43

And 7x "no such user exists" for the other client:
https://github.com/pion/turn/blob/40ee5ed2f3ebf77582e41

[2021-04-15 15:36] morajabi opened #212 "Example using ipv6?"
## Summary

One paragraph explanation of the feature.

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome? Is this available in other implementations? Can this not be implemented using primitives?

## Describe alternatives you've considered

A clear and concise description of the alternative solutions you've considered.

## Additional context

Add an

[2021-05-24 20:27] cedricve commented on #195
@jech, we are deploying our entire solution stack in Kubernetes, and we were wondering to embed pion/turn in there as well.

[2021-05-25 16:49] cedricve commented on #195
@IdlePhysicist I tried out but that didnt work (not getting any logs) not sure what is going wrong this is my `main.go` and this is the `deployment.yaml`. I would expect allowHostNetwork do the magic.

Deployment:
https://play.golang.org/p/6CyoApM59wI

Yaml:
https://play.golang.org/p/EXfHgqFP2-L

[2021-05-25 17:57] IdlePhysicist commented on #195
Hi @cedricve, my advice would be that you should first try to run this in Docker or Docker Compose on an EC2 (or whatever you use yourself) and see if you have any success. I have compiled your code and ran it locally on my laptop, it appears to work when tested with Coturn's `turn_uclient`, but I have only looked at it for <10 mins.

Looking further at your attached deployment file, I am wonderin

[2021-05-25 18:02] cedricve commented on #195
hey @IdlePhysicist thanks for the response. Well I actually have it running outside a Docker container on a VPS. I can get relay candidates and see the STUN and TURN component in action (logging).

Indeed I played around with it and both tried UDP and TCP, both didnt work. I believe this is really K8S specific as not sure what is trying to do. I would expect reaching the ingress `10240` would brin

[2021-05-31 17:28] boratanrikulu commented on #35
Same here. Getting this error on Turn.

[2021-07-01 04:07] jackyshaw2017 opened #217 "error when handling datagram: failed to create stun message from packet: unexpected EOF: not enough bytes to read header"
run example simple  on windows ,the error log   is
error when handling datagram: failed to create stun message from packet: unexpected EOF: not enough bytes to read header

[2021-07-01 09:00] jackyshaw2017 commented on #171
if your app run on google chrome ，suggest simple ，tcp may work on  some  c/s software

[2021-08-04 07:00] kilroy05 commented on #21
As a new (potential) user of turn, would also love to see some examples with redis / rest / mysql
(I know it's an old topic, issue still there for me :) )

[2021-08-08 20:06] jawnsy opened #227 "Tags and releases don't match (latest release v2.0.2, latest tag v2.0.5)"
The last few releases have tags created, but no corresponding GitHub Release. This looks a bit unusual in the GitHub user interface (bottom right of the [main repository screen](https://github.com/pion/turn/)), since users see that the latest release is v2.0.2, published Jan 29 2020:

![image](https://user-images.githubusercontent.com/52710/128644314-46b77620-fe3b-4b00-a32e-748272d23fc9.png)

Yet,

[2021-08-10 18:22] doctorpangloss commented on #195
You can't use `hostNetwork: true`.

You can't use the `nginx` loadbalancer by itself.

On AWS you have to use the network load balancer they provide. AWS has its own networking API that the load balancer code interacts with to route traffic to your TURN server.

[2021-08-10 18:26] cedricve commented on #195
I never was able to make it worked, and ended up with a plain container on a VPS.

[2021-08-12 09:31] tubzby opened #228 "example/turn_client/udp failed to get attribute NONES"
Not sure if this a coturn issue or not.

### Your environment.
  - Version: 72ffd594f7c6104b5680a4fea5651928e3b6ddb4
  - Browser: Not related
  - Other Information -  Using coturn with docker image: coturn/coturn.

### What did you do?
[code]

### What did you expect?
turn_client example runs.

### What happened?
turn_client example failed to run with panic

[2021-08-12 09:56] tubzby commented on #228
It seems that my server is not enabling authentication, succeed after authentication is enabled.

but it's still a compatible problem in my opinion.

[2021-08-13 15:23] Sean-Der commented on #228
Nice catch!

I think a better error message here would be fantastic. I am unsure if it is a good idea to support no authentication. I don't want to suggest anything to users that could cause harm.

TURN has some great features like Long-Term Credential Mechanism with a seed that make it really easy.

[2021-08-15 04:33] bekriebel commented on #212
+1 to this because I'm also trying to use fly.io.

In particular, I'd love to be able to have TURN listening on ipv4 and ipv6 UDP and TCP and have it relay for an SFU running on ipv6 UDP.

[2021-08-20 03:09] doctorpangloss opened #229 "Forcing relay only on my clients and a port allocator results in never allocating a port"
### Your environment.
  - Version: 72ffd594f7c6104b5680a4fea5651928e3b6ddb4
  - Browser: Mobile Safari on iOS 12.7, Chrome 92

### What did you do?
I added logging to `RelayAddressGeneratorPortRange` to see if a port is ever allocated.

[code]

### What did you expect?

Ports should be allocated.

### What happened?

A port is never allocated randomly within the range. I see multiple of the follow

[2021-08-25 04:37] renovate[bot] opened #230 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-25 08:24] mehrvarz commented on #206
I am also seeing "relay already allocated for 5-TUPLE".
It seems to happen only with some client devices (WebRTC web app on Firefox 91 Ubuntu + Android).
With other clients (same app on Chromium 91 Ubuntu) this error never shows up.
If the error is thrown, it always happens after the client has hit auth handler 3 times in short order. Client may be able to continue despite the err, sometimes with

[2021-08-25 11:26] mehrvarz commented on #206
This log is showing the "already allocated for 5-TUPLE" issue. The client is FF 91 on Android. The server is running on Linux with Go 1.17. Comments below.

[code]

comments:
- s.s.s.s is my server
- c.c.c.c is my client
- "turn auth for client (c.c.c.c) SUCCESS" is my authHandler
- "turn.go:40: fiveTuple" is a log-statement I have added to your code

There are three such "fiveTuple" lines before

[2021-08-30 19:52] mehrvarz commented on #206
Think I found a solution. It involves swapping step 1 and 2 in the handleAllocateRequest() function of internal/server/turn.go. In other words, I check for 5-tuple before invoking authenticateRequest(). Please let me know if doing this is wrong for obvious reasons. [This is the code I am using.](https://github.com/mehrvarz/turn/blob/a168bc29328ed2463159ea18facba945e36b9065/internal/server/turn.go#

[2021-11-16 03:42] #230 closed

[2021-12-13 13:19] GingerAdonis commented on #212
Unfortunately it requires the implementation of RFC 6156 to support IPv6.

[2021-12-20 01:00] mehrvarz commented on #146
I see 3 allocations being created for a turn session. Same client ip, 3 different port numbers. Server address is always 0.0.0.0:3478.

What is odd: all AddPermission() calls seem to go to one allocation only. The many "No Permission or Channel exists" messages occur in relation to the other (empty) allocations. Is this normal?

I am using turn v2.0.5 and web browsers as webrtc clients only.

[2021-12-20 01:13] shreehari-a opened #238 "Dockerfile and docker-compose files for the examples."
## Summary

I tried the turn server example for one of the webrtc projects. It came to my observation, there's no docker-compose file for the examples to try out really quickly, so I would like people to have a docker-compose file for using the turn server quickly. I have made a Dockerfile and docker-compose file, please let me know if I can create a PR with the same.

## Motivation

+ Why are we

[2021-12-23 23:43] mehrvarz commented on #146
These "No Permission or Channel exists" messages were caused by an issue in my client software.
Fixed now. Apologies.

[2022-01-25 09:32] lamhai1401 commented on #144
Hey guys! Could you tell me how to fix this.
I got a lot of this line `fail to refresh permissions: all retransmissions failed for 5oitgEHEnFGjWLoU`
Is there some configuration i'm missing in coturn server?

[2022-02-04 11:37] serdor2 opened #240 "The same credentials for multiple connections"
Thanks for great project! I am using your simple turn for Window.
May be a stupid question...  Is it possible to use the same username and password  in TURN for multiple connections?  Or I need to set separate username=password pair for each connection?

For example, I have   3 pairs of PCs.   Can I use the same username=password in simple PION TURN for all these simultaneous connections ? Thanks!

[2022-02-04 17:48] Sean-Der commented on #240
Hey @serdor2

Yes you can use the same username/password! It is checked when connecting. If you want to enforce limits/lifetimes on them you would have to implement that part.

thanks for using Pion :)

[2022-02-04 17:48] #240 closed

[2022-02-17 11:20] cnderrauber commented on #206
As RFC said, The server MUST require that the request be authenticated first. So there might be another reason for this.

https://datatracker.ietf.org/doc/html/rfc5766#section-6.2

   When the server receives an Allocate request, it performs the
   following checks:

   1.  The server MUST require that the request be authenticated.  This
       authentication MUST be done using the long-term crede

[2022-02-17 14:52] mehrvarz commented on #206
No, the word "MUST" relates to "be authenticated". It does not relate to the order of steps. Five things need to be done. RFC does not explicitly say that a specific order is required.

Swapping step 1 and 2 seems to work well for me in practice and for 6 month now. Checking "is allocations in use" before doing "authenticateRequest()" also make full sense to me. With the modified order, no authent

[2022-02-17 15:41] cnderrauber commented on #206
We should follow the RFC's step to check these.
I don't know the detail of your problem, but I can reproduce the already allocated case. That's because turn server's response sent to client may lost, and the behavior of client's retry and pion process the retry request cause the problem.

1. client sent allocate request
2. server received request, process it correctly and response to client
3. res

[2022-02-18 04:24] #206 closed

[2022-02-18 05:42] mehrvarz commented on #206
Wow. This is a fairly extensive patch. When do you think will a release tag become available?

[2022-02-18 06:10] cnderrauber commented on #206
@mehrvarz Have another test case for packet lost, if all things working, will release today

[2022-02-19 07:44] naive924 opened #244 "Is it possible to set turn-server public-ip to a DNS name accessible by the client?"
Could you please advise me.

## Summary
There is the following description. https://github.com/pion/turn/tree/master/examples

Is it possible to set the public-ip of turn-server to a DNS name accessible by the client? Specifically, it is as follows.
`$turn-server-log -public-ip ${DNSName} -port 3478 -users username=password,foo=bar`

## Motivation
Because the IP address may change and we want to a

[2022-02-21 16:53] Sean-Der commented on #244
Hey @naive924

This is possible today! I would copy the `RelayAddressGeneratorStatic` and replace `RelayAddress` so instead uses w/e service you want to lookup the IP with.

TURN itself requires that an IP is sent in the Allocate response. You will need to handle the dynamic determination of the IP yourself unfortunately.

If you need more help happy to answer here or on [Slack](https://pion.ly/sl

[2022-02-21 16:53] #244 closed

[2022-02-22 05:41] naive924 commented on #244
Hi @Sean-Der
Thank you for your reply.

I tried this with v2.0.2.
`$turn-server-log -public-ip ${DNSName} -port 3478 -users username=password,foo=bar`

I got the following error.
Is it possible to specify only the IP address for `public-ip`? (DNS name cannot be specified).
[code]

[2022-02-23 12:29] mehrvarz commented on #206
I am now testing v2.0.8. As before, I am seeing "No Permission or Channel exists..." log entries. About 4-6 per client connect, even for pure p2p (none-TURN) connections. These msgs come from /internal/allocation/allocation.go, very close to code you just looked at. Did you not notice them fill the log?

Note: If something is wrong (say, turn auth fail), I see more of these msgs. But if everything

[2022-02-23 22:48] mehrvarz commented on #206
@cnderrauber I am not asking you to solve a problem. I am only asking if you have seen unexpected "No Permission or Channel exists..." log msgs.

[2022-02-24 10:15] cnderrauber commented on #206
I think they are exist but not sure.

[2022-02-24 11:24] mehrvarz commented on #206
Findings:
- 1 additional, unnecessary, gratious allocation is allocated per session
- this allocation has indeed no permission or channel assigned to it
- this empty allocation keeps being invoked at runtime, causing the msg
- issue occurs on public servers (domain name?)
- issue may be harmless, but it sure is aggravating
- analyzing the logs is impeded by the many false warning messages

Just le

[2022-02-27 05:43] davidzhao opened #246 "Allocation requests stuck after being canceled."
When ICE clients test connectivity via different candidates, it'll start an allocation request with TURN. However, when it ultimately chose a better path, the TURN stack would be stuck reading for a long time. After running the server in production, it's typical to be left with the following goroutines, even if there are no clients that are using TURN.

We need a timeout in `Allocation.packetHandl

[2022-03-14 04:42] lamhai1401 commented on #246
Hi @davidzhao ! I also have turn issue when running in production for a while.
Have you ever see this error

<img width="1047" alt="Screen Shot 2022-03-09 at 15 18 01" src="https://user-images.githubusercontent.com/31619361/158106093-9a29b76f-6168-45db-839e-6778b76fbd59.png">

<img width="781" alt="Screen Shot 2022-03-09 at 15 18 23" src="https://user-images.githubusercontent.com/31619361/15810612

[2022-03-17 06:15] hy-net commented on #206
I setup a new pion server, put up for a few days (not even using it yet), and this error appears from no where.

Seems like someone is sending random datagram to my server.

[2022-04-07 09:46] hktalent opened #251 "stun.Dial("udp", {"stun.l.google.com:19302","stun1.l.google.com:19302","stun.zadarma.com:3478",})"
please support

stun.Dial("udp", {"stun.l.google.com:19302","stun1.l.google.com:19302","stun.zadarma.com:3478",})

thanks

[2022-04-20 13:27] GingerAdonis commented on #212
@Sean-Der Is IPv6 support planned? Thanks in advance.

[2022-05-05 14:13] stv0g commented on #212
Seems like the TURN client currently does IPv4 lookups only:

https://github.com/pion/turn/blob/6880381c77d370eb8121fe7eb237b838ea8e4429/client.go#L95

[2022-05-07 14:34] #251 closed

[2022-05-08 01:09] enobufs opened #257 "WriteTo() on relay conn (net.PacketConn) returns incorrect number of bytes sent"
### Your environment.
  - Version: v2.0.8
  - Browser: *include version*
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?
Sent data from TURN client to a peer.

### What did you expect?
Passing buffer with size N to relayConn.WriteTo() should return N on success.

### What happened?
Returned number is slightly longer

[2022-05-09 19:51] #257 closed

[2022-06-09 21:38] shakaran commented on #144
I am getting this same error using load-tester in livekit with 2000 publishers and 1 publisher in a digital ocean instance of 8 CPU cores and 16 GB Ram:

`turnc ERROR: 2022/06/09 21:35:31 fail to refresh permissions: all retransmissions failed for IYDySUfFFn5dLxIr`

[2022-08-31 20:38] dadagov125 commented on #206
I have the same problem when connecting from ios 15.0

[2022-11-03 04:26] tbranyen commented on #195
Just wanted to leave a comment in case others hit this same thread. I was able to get this working in kubernetes with rtsp2webrtc and docker using the advice to set `hostNetwork: true`. The caveats I've found are that I cannot run more than a single replicaSet and pod at a time. I need to fully destroy all server groups ahead of a deployment, and only get a single instance. That said, host network

[2022-11-03 06:46] cedricve commented on #195
thanks @tbranyen  could you detail your deployment and steps taken a bit more?

[2022-11-03 16:43] tbranyen commented on #195
Sure thing. Not sure how you're working with kubernetes, but I'm using it with Spinnaker. I have a pipeline:

![image](https://user-images.githubusercontent.com/181635/199779362-453a180f-9a74-433c-854f-b3309a762f2a.png)

First stage (Bake Image) builds the docker image inside of [rtsp2webrtc](https://github.com/deepch/RTSPtoWebRTC). That repo uses pion/turn under-the-hood. The second stage deletes

[2022-11-12 15:46] stv0g commented on #195
I agree with @tbranyen,

we are running a very similar setup in our cluster.

Lets close the issue, since the original question has been answered.

[2022-11-12 15:46] #195 closed

[2022-11-12 15:48] stv0g commented on #227
@jawnsy Thats pretty normal for the Pion related packages.

The CI is not creating releases automatically. I assume those have been created by hand in the past and now are simply forgotten.

[2022-11-12 15:48] #227 closed

[2022-11-12 15:49] stv0g commented on #212
See also #265

[2022-11-18 08:25] stv0g commented on #171
This package currently only ships with a few simple examples of TURN servers.
Its not really (yet) intended to be used as a production ready TURN server.

Please have a look at other solutions for that.

[2022-11-18 08:25] #171 closed

[2022-11-30 20:48] tomandersen opened #279 "Support for transport latest version 0.14 - there are some changes."
### Your environment.
  - Version: *Release or SHA*
  - Go 1.19

### What did you do?

Upgraded all go packages (then reverted lol)

### What did you expect?

That pion would work with lastest pion transport v0.14

### What happened?
# github.com/pion/turn/v2
../../../pkg/mod/github.com/pion/turn/v2@v2.0.8/client.go:85:16: assignment mismatch: 1 variable but vnet.NewNet returns 2 values
../../../p

[2022-11-30 21:49] Sean-Der commented on #279
@stv0g What do you think the best thing to do here is?

If you don't have the bandwidth I am happy to do the reverts? Or should we move forward and fix these?

[2022-11-30 23:03] Sean-Der commented on #279
Sorry about that @tomandersen !

I reverted the breaking commits and put them on `/v2`. I retracted the tagged commits with the breaking changes.

[2022-11-30 23:03] #279 closed